@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-top">
    <div class="Content">

        <h1>Reasons Examples</h1>
        @Html.ActionLink("jQuery Reasons Example", "ReasonListJquery")
        @Html.ActionLink("Razor Reasons Example", "ReasonListRazor")
       
    </div>
</div>
